# Introduction to Pandas ( Contd. )

License: 
Created by: Prashanth Raghu, Gonagoor Technology Llp. Assisted by: Phaneendra V.
It’s okay to share amongst the student community and learn from it. Don’t worry. It’s under
Creative License. Just drop a reference to this document and author names if you use it anywhere.

For commercial use,
drop an email to p.is.prashanth [at] gmail [dot] com

In [1]:
import pandas as pd

In [17]:
rainfalls = pd.read_csv('data-sets/rainfall.csv')

In [18]:
rainfalls.head()

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
0,Andaman & Nicobar Islands,1901,49.2,87.1,29.2,2.3,528.8,517.5,365.1,481.1,332.6,388.5,558.2,33.6,3373.2,136.3,560.3,1696.3,980.3
1,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8

Data Sources
--

Data Sources allow the data to be analysed from different input formats.
Ex: CSV, JSON, XML, Excel, Open Office Formats, HDFS to name a few.

Pandas allows us to seemlessly work between data formats.

In [5]:
rainfalls.to_json('data-sets/rainfall-1.json', index=False)

In [6]:
rainfalls_js = pd.read_json('data-sets/rainfall-1.json')

In [8]:
rainfalls_js.shape

(4188, 19)

In [13]:
rainfalls_js.to_html('data-sets/rainfall-1.html')

In [15]:
rainfalls.index

RangeIndex(start=0, stop=4188, step=1)

In [19]:
rainfalls.reindex(range(1, 4100))

,SUBDIVISION,YEAR,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,JF,MAM,JJAS,OND
1,Andaman & Nicobar Islands,1902,0.0,159.8,12.2,0.0,446.1,537.1,228.9,753.7,666.2,197.2,359.0,160.5,3520.7,159.8,458.3,2185.9,716.7
2,Andaman & Nicobar Islands,1903,12.7,144.0,0.0,1.0,235.1,479.9,728.4,326.7,339.0,181.2,284.4,225.0,2957.4,156.7,236.1,1874.0,690.6
3,Andaman & Nicobar Islands,1904,9.4,14.7,0.0,202.4,304.5,495.1,502.0,160.1,820.4,222.2,308.7,40.1,3079.6,24.1,506.9,1977.6,571.0
4,Andaman & Nicobar Islands,1905,1.3,0.0,3.3,26.9,279.5,628.7,368.7,330.5,297.0,260.7,25.4,344.7,2566.7,1.3,309.7,1624.9,630.8
5,Andaman & Nicobar Islands,1906,36.6,0.0,0.0,0.0,556.1,733.3,247.7,320.5,164.3,267.8,128.9,79.2,2534.4,36.6,556.1,1465.8,475.9
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4095,Lakshadweep,1925,2.3,7.5,15.5,32.6,244.2,327.5,192.3,295.3,63.5,109.3,144.9,242.0,1676.9,9.8,292.3,878.6,496.2
4096,Lakshadweep,1926,262.8,16.0,33.6,60.2,335.8,392.0,303.9,118.2,97.2,83.4,119.3,13.8,1836.2,278.8,429.6,911.3,216.5
4097,Lakshadweep,1927,108.2,14.7,40.7,40.4,229.0,181.2,NaN,42.0,256.0,NaN,NaN,NaN,NaN,122.9,310.1,NaN,NaN
4098,Lakshadweep,1928,42.5,66.6,NaN,1.4,212.3,206.9,268.8,174.9,53.8,124.1,116.3,139.3,NaN,109.1,NaN,704.4,379.7
4099,Lakshadweep,1929,6.1,66.6,49.5,91.0,248.0,259.3,452.7,34.2,186.3,100.2,NaN,28.8,NaN,72.7,388.5,932.5,NaN

In [23]:
pivot = rainfalls.pivot(index=["YEAR"], columns=["SUBDIVISION"], values=["JAN"])

In [24]:
pivot

                                  JAN                                      \
SUBDIVISION Andaman & Nicobar Islands Arunachal Pradesh Assam & Meghalaya
YEAR
1901                             49.2               NaN              27.1
1902                              0.0               NaN               9.3
1903                             12.7               NaN              19.9
1904                              9.4               NaN              11.1
1905                              1.3               NaN              19.9
...                               ...               ...               ...
2013                             67.1              18.5               1.1
2014                             41.9              19.0               2.0
2015                            126.8              30.8              13.4
2016                             72.0              29.4              18.9
2017                            228.7               8.2               1.7

                                                                         \
SUBDIVISION Bihar Chhattisgarh Coastal Andhra Pradesh Coastal Karnataka
YEAR
1901         51.8         48.9                   18.8               1.8
1902          4.6          0.6                    2.0               3.2
1903          5.3          6.2                    0.8               0.7
1904          6.3          0.0                    1.3               2.4
1905         16.0         50.3                    1.1               0.0
...           ...          ...                    ...               ...
2013          5.1          2.8                    2.0               2.4
2014         17.0          2.3                    0.4               0.0
2015         12.8         15.8                    2.0               1.4
2016          9.3          6.1                    1.6               0.5
2017          0.7          0.9                    1.0               1.1

                                                                   ...  \
SUBDIVISION East Madhya Pradesh East Rajasthan East Uttar Pradesh  ...
YEAR                                                               ...
1901                       48.5           21.6               62.6  ...
1902                       14.9            4.1                6.1  ...
1903                        5.6            1.9                8.2  ...
1904                        2.0            4.3                7.3  ...
1905                       15.9            4.1               16.8  ...
...                         ...            ...                ...  ...
2013                        2.0            1.4                6.1  ...
2014                       32.1           28.4               47.4  ...
2015                       37.3           12.1               30.0  ...
2016                       20.2            0.6                5.3  ...
2017                        4.6            8.4                9.7  ...

                                                         \
SUBDIVISION Saurashtra & Kutch South Interior Karnataka
YEAR
1901                       1.9                      4.9
1902                       0.1                      1.9
1903                       0.5                      0.3
1904                       1.4                      1.0
1905                       1.5                      1.7
...                        ...                      ...
2013                       1.7                      0.5
2014                       0.3                      0.4
2015                       0.9                      1.7
2016                       0.0                      3.6
2017                       0.1                      5.0

                                                                     \
SUBDIVISION Sub Himalayan West Bengal & Sikkim Tamil Nadu Telangana
YEAR
1901                                      26.5       24.5       6.9
1902                                       1.2       67.2       0.0
1903                                       5.5       19.3      12.9
1904                                       3.4       35.2       0.0
1905                                      12.0        6.5       0.0
...                                        ...        ...       ...
2013                                       3.0        3.9       2.4
2014                                       0.2        7.4       0.2
2015                                      15.7        8.3      17.5
2016                                      20.7        2.5       1.2
2017                                       3.0       37.3       0.0

                                                                     \
SUBDIVISION Uttarakhand Vidarbha West Madhya Pradesh West Rajasthan
YEAR
1901              134.5     36.8                25.8            6.7
1902                0.0      1.6                22.1            0.0
1903               68.0      5.2                 5.3            1.7
1904               40.0      4.3                 3.2            3.8
1905              115.4      7.3                 3.5            6.3
...                 ...      ...                 ...            ...
2013               73.0      6.6                 1.7            8.6
2014               45.9      1.2                25.6            0.8
2015               54.5     26.3                40.2            1.4
2016                5.4      0.7                 5.2            0.1
2017               36.6      0.2                 4.6            6.0


SUBDIVISION West Uttar Pradesh
YEAR
1901                      51.4
1902                       4.6
1903                      13.4
1904                       6.3
1905                      32.3
...                        ...
2013                      20.4
2014                      48.3
2015                      31.6
2016                       2.1
2017                      22.0

[117 rows x 36 columns]

In [37]:
pivot2 = rainfalls.pivot(index=["YEAR"], columns=["SUBDIVISION"], values=["JAN", "FEB",])

ValueError: Index contains duplicate entries, cannot reshape

In [26]:
pivot2

                                  JAN                                      \
SUBDIVISION Andaman & Nicobar Islands Arunachal Pradesh Assam & Meghalaya
YEAR
1901                             49.2               NaN              27.1
1902                              0.0               NaN               9.3
1903                             12.7               NaN              19.9
1904                              9.4               NaN              11.1
1905                              1.3               NaN              19.9
...                               ...               ...               ...
2013                             67.1              18.5               1.1
2014                             41.9              19.0               2.0
2015                            126.8              30.8              13.4
2016                             72.0              29.4              18.9
2017                            228.7               8.2               1.7

                                                                         \
SUBDIVISION Bihar Chhattisgarh Coastal Andhra Pradesh Coastal Karnataka
YEAR
1901         51.8         48.9                   18.8               1.8
1902          4.6          0.6                    2.0               3.2
1903          5.3          6.2                    0.8               0.7
1904          6.3          0.0                    1.3               2.4
1905         16.0         50.3                    1.1               0.0
...           ...          ...                    ...               ...
2013          5.1          2.8                    2.0               2.4
2014         17.0          2.3                    0.4               0.0
2015         12.8         15.8                    2.0               1.4
2016          9.3          6.1                    1.6               0.5
2017          0.7          0.9                    1.0               1.1

                                                                   ...  \
SUBDIVISION East Madhya Pradesh East Rajasthan East Uttar Pradesh  ...
YEAR                                                               ...
1901                       48.5           21.6               62.6  ...
1902                       14.9            4.1                6.1  ...
1903                        5.6            1.9                8.2  ...
1904                        2.0            4.3                7.3  ...
1905                       15.9            4.1               16.8  ...
...                         ...            ...                ...  ...
2013                        2.0            1.4                6.1  ...
2014                       32.1           28.4               47.4  ...
2015                       37.3           12.1               30.0  ...
2016                       20.2            0.6                5.3  ...
2017                        4.6            8.4                9.7  ...

                           MAR                           \
SUBDIVISION Saurashtra & Kutch South Interior Karnataka
YEAR
1901                       0.1                      3.0
1902                       0.0                      6.7
1903                       1.7                      1.1
1904                      17.5                      5.2
1905                       0.6                     14.2
...                        ...                      ...
2013                       0.1                     11.7
2014                       0.1                     17.7
2015                       4.4                     24.4
2016                       0.3                      3.2
2017                       0.0                     16.8

                                                                     \
SUBDIVISION Sub Himalayan West Bengal & Sikkim Tamil Nadu Telangana
YEAR
1901                                      14.1       21.7       7.8
1902                                      87.1       25.1       0.2
1903                                      19.6        1.7       0.0
1904                                       0.9        0.7      10.8
1905                                      51.9       17.2      12.8
...                                        ...        ...       ...
2013                                      32.1       30.0       0.2
2014                                      37.7        8.1      58.3
2015                                      64.8       21.7      43.0
2016                                      98.9        3.1      11.5
2017                                      84.6       35.4       8.7

                                                                     \
SUBDIVISION Uttarakhand Vidarbha West Madhya Pradesh West Rajasthan
YEAR
1901               44.5     30.9                 5.8            1.1
1902               52.2      0.0                 0.0            0.0
1903               87.6      0.1                 0.0            5.5
1904               78.3     12.9                14.8           16.3
1905               99.8     12.4                 1.1            0.7
...                 ...      ...                 ...            ...
2013               22.0      3.8                 8.5            4.2
2014               68.4     49.6                 4.6            4.7
2015              127.3     66.3                53.5           30.3
2016               45.8     20.1                 2.4            6.7
2017               44.5      6.1                 1.5            4.2


SUBDIVISION West Uttar Pradesh
YEAR
1901                       9.5
1902                       0.6
1903                       1.2
1904                      29.7
1905                      14.8
...                        ...
2013                       3.5
2014                      22.6
2015                      66.8
2016                      10.4
2017                       8.5

[117 rows x 108 columns]

In [35]:
pivot2["JAN"]["Bihar"][2015]

12.8